# Obviously this is a derived file
/thesis.pdf

# Generated graphics
*RASTER.png
*PAGE*.pdf
*CROP.pdf
*CROP.png
*SVG.pdf

# Data doesn't go in git
/data

# LyX backup file
*.emergency

# Snakemake temp files
/.snakemake

# LyX temp files
tmp-*
